# ROAD COST ANALYSIS 

## PART I - DATA PREPARATION

### Introduction
Continuing data analysis project we will look at the cost of road construction in Poland. It is said that road construction in Poland is much more expensive than in neighboring countries and the quality of the new routes does not meet the requirements of users.

We will check the list of elements of newly build or rebuilt roads and what road elements contribute the most to the high cost of roads in Poland and what does it look like from the inside.

The analysis will be carried out on the basis of real data for which the names of the roads covered by the analysis have been changed.

The input material are pdf files obtained from a reputable polish construction company, the explanation of which is presented below.

The original data contains the following columns:

* 'Lp.': Ordinal number
* 'CPV': Central Product Classification code
* 'Numer Specyfikacji Technicznej': Technical Specification code
* 'Elementy rozliczeniowe': Billing elements
* 'Jednostka': Measure unit
* 'Ilosc': Quantity
* 'Cena jedn': Unit price
* 'Wartosc calkowita': Total value
* 'Droga': Road number
* 'Rok': Year of construction
* 'Kategoria': Category of construction works

# **Import Libraries**

In [1]:
import pandas as pd
import numpy as np

from functions.pdf_tools import pdf_reader, pdf_cleaner, match_category

**Read pdf files**

In [2]:
road_data = pdf_reader('..\Projekt_Analiza_Danych\DATA\*.pdf')

**Initial data clean**

**Checking the basic informations of the DataFrame**

In [3]:
road_data = pdf_cleaner(road_data)

In [4]:
road_data.head()

,Elementy_rozliczeniowe,Jednostka,Ilosc,Cena_jedn,Wartosc_calkowita,Droga,Rok,Kategoria
3,Koszt dostosowania się do wymagań ogólnych zaw...,ryczałt,1.00,280864.20,280764.20,DK12ZW,2019,WARUNKI OGÓLNE
4,Dokumentacja realizacyjno-technologiczna i dok...,ryczałt,1.00,33703.70,33603.70,DK12ZW,2019,WARUNKI OGÓLNE
5,"Koszt utrzymania dróg, po których odbywać się ...",ryczałt,1.00,224691.36,224591.36,DK12ZW,2019,WARUNKI OGÓLNE
6,Saperskie sprawdzenie terenu pod kątem niewypa...,ryczałt,1.00,33703.70,33603.70,DK12ZW,2019,WARUNKI OGÓLNE
7,Nadzór archeologiczny wraz z wykonaniem ratown...,ryczałt,1.00,28086.42,27986.42,DK12ZW,2019,WARUNKI OGÓLNE

In [5]:
road_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2105 entries, 3 to 15
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Elementy_rozliczeniowe  2105 non-null   object
 1   Jednostka               2105 non-null   object
 2   Ilosc                   2105 non-null   object
 3   Cena_jedn               2105 non-null   object
 4   Wartosc_calkowita       2105 non-null   object
 5   Droga                   2105 non-null   object
 6   Rok                     2105 non-null   object
 7   Kategoria               2105 non-null   object
dtypes: object(8)
memory usage: 148.0+ KB

In [6]:
road_data.describe()

,Elementy_rozliczeniowe,Jednostka,Ilosc,Cena_jedn,Wartosc_calkowita,Droga,Rok,Kategoria
count,2105,2105,2105,2105,2105,2105,2105,2105
unique,646,12,1482,769,1967,19,7,14
top,"Tablice ""E""",m2,1.00,16851.85,16751.85,DK77,2021,ROBOTY PRZYGOTOWAWCZE
freq,19,731,130,16,20,156,538,563

In [7]:
set(road_data['Cena_jedn'].map(type))

{str}

In [8]:
set(road_data['Ilosc'].map(type))

{str}

In [9]:
set(road_data['Wartosc_calkowita'].map(type))

{str}

In [10]:
set(road_data['Rok'].map(type))

{str}

In [11]:
road_data['Kategoria'].value_counts()

ROBOTY PRZYGOTOWAWCZE                                 563
OZNAKOWANIA DRÓG I URZĄDZENIA BEZPIECZEŃSTWA RUCHU    343
PODBUDOWY                                             272
NAWIERZCHNIE                                          205
ZIELEŃ DROGOWA                                        169
ELEMENTY ULIC                                         151
ROBOTY WYKOŃCZENIOWE                                  139
WARUNKI OGÓLNE                                         93
ROBOTY ZIEMNE                                          83
ODWODNIENIE KORPUSU DROGOWEGO                          46
INNE ROBOTY                                            36
WYMAGANIA OGÓLNE                                        3
WARSTWA MROZOOCHRONNA Z MIESZANKI NIEZWIĄZANEJ          1
OZNAKOWANIA DRÓG I URZĄDZENIA                           1
Name: Kategoria, dtype: int64

**Note**

As you can see above,the "Ilosc, Cena_jedn, Wartosc_calkowita, Dlugosc_drogi and Rok" columns contains wrong data type, we will convert them to float and DateTime data type. What is more the "Kategoria" column contain incomplete category names. In the next few steps we will fix these errors.

**Cleaning the "Kategoria" column**

In [12]:
road_data['Kategoria_robot'] = road_data['Kategoria'].apply(match_category)

In [13]:
road_data.drop('Kategoria', inplace=True, axis=1)

In [14]:
road_data

,Elementy_rozliczeniowe,Jednostka,Ilosc,Cena_jedn,Wartosc_calkowita,Droga,Rok,Kategoria_robot
3,Koszt dostosowania się do wymagań ogólnych zaw...,ryczałt,1.00,280864.20,280764.20,DK12ZW,2019,WARUNKI OGOLNE
4,Dokumentacja realizacyjno-technologiczna i dok...,ryczałt,1.00,33703.70,33603.70,DK12ZW,2019,WARUNKI OGOLNE
5,"Koszt utrzymania dróg, po których odbywać się ...",ryczałt,1.00,224691.36,224591.36,DK12ZW,2019,WARUNKI OGOLNE
6,Saperskie sprawdzenie terenu pod kątem niewypa...,ryczałt,1.00,33703.70,33603.70,DK12ZW,2019,WARUNKI OGOLNE
7,Nadzór archeologiczny wraz z wykonaniem ratown...,ryczałt,1.00,28086.42,27986.42,DK12ZW,2019,WARUNKI OGOLNE
...,...,...,...,...,...,...,...,...
6,Mieszanka roślin rabatowych,m2,100.00,50.00,5000.00,DW919SK,2015,ZIELEN DROGOWA
10,"Ścianki oporowe typu ""L"" - gr 25 cm, wysokość ...",m,51.00,1024.40,52244.40,DW919SK,2015,INNE ROBOTY
11,"Ścianki oporowe typu ""L"" - gr. 10 cm, wysokość...",m,8.00,274.30,2194.40,DW919SK,2015,INNE ROBOTY
13,Wykonanie schodów i zejść do posesji z element...,m2,25.16,246.34,6198.04,DW919SK,2015,INNE ROBOTY
15,Pomiar powykonawczy zrealizowanych obiektów dr...,km,12.98,29829.22,387064.26,DW919SK,2015,INNE ROBOTY

In [15]:
road_data['Ilosc'] = pd.to_numeric(road_data['Ilosc'],errors='coerce')

**Cleaning the "Ilosc", "Cena_jedn", "Wartosc_calkowita" and "Dlugosc_drogi"columns**

In [16]:
road_data['Ilosc'] = pd.to_numeric(road_data['Ilosc'],errors='coerce')

In [17]:
set(road_data['Ilosc'].map(type))

{float}

In [18]:
road_data['Cena_jedn'] = pd.to_numeric(road_data['Cena_jedn'],errors='coerce')

In [19]:
road_data['Wartosc_calkowita'] = pd.to_numeric(road_data['Wartosc_calkowita'],errors='coerce')

In [20]:
# road_data['Dlugosc_drogi'] = pd.to_numeric(road_data['Dlugosc_drogi'],errors='coerce')

**Cleaning the "Rok" column**

In [21]:
road_data['Rok'] = pd.to_numeric(road_data['Rok'],errors='coerce')

In [22]:
road_data['Rok'] = pd.to_datetime(road_data['Rok'],format='%Y')

In [23]:
road_data

,Elementy_rozliczeniowe,Jednostka,Ilosc,Cena_jedn,Wartosc_calkowita,Droga,Rok,Kategoria_robot
3,Koszt dostosowania się do wymagań ogólnych zaw...,ryczałt,1.00,280864.20,280764.20,DK12ZW,2019-01-01,WARUNKI OGOLNE
4,Dokumentacja realizacyjno-technologiczna i dok...,ryczałt,1.00,33703.70,33603.70,DK12ZW,2019-01-01,WARUNKI OGOLNE
5,"Koszt utrzymania dróg, po których odbywać się ...",ryczałt,1.00,224691.36,224591.36,DK12ZW,2019-01-01,WARUNKI OGOLNE
6,Saperskie sprawdzenie terenu pod kątem niewypa...,ryczałt,1.00,33703.70,33603.70,DK12ZW,2019-01-01,WARUNKI OGOLNE
7,Nadzór archeologiczny wraz z wykonaniem ratown...,ryczałt,1.00,28086.42,27986.42,DK12ZW,2019-01-01,WARUNKI OGOLNE
...,...,...,...,...,...,...,...,...
6,Mieszanka roślin rabatowych,m2,100.00,50.00,5000.00,DW919SK,2015-01-01,ZIELEN DROGOWA
10,"Ścianki oporowe typu ""L"" - gr 25 cm, wysokość ...",m,51.00,1024.40,52244.40,DW919SK,2015-01-01,INNE ROBOTY
11,"Ścianki oporowe typu ""L"" - gr. 10 cm, wysokość...",m,8.00,274.30,2194.40,DW919SK,2015-01-01,INNE ROBOTY
13,Wykonanie schodów i zejść do posesji z element...,m2,25.16,246.34,6198.04,DW919SK,2015-01-01,INNE ROBOTY
15,Pomiar powykonawczy zrealizowanych obiektów dr...,km,12.98,29829.22,387064.26,DW919SK,2015-01-01,INNE ROBOTY

In [24]:
road_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2105 entries, 3 to 15
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Elementy_rozliczeniowe  2105 non-null   object
 1   Jednostka               2105 non-null   object
 2   Ilosc                   2103 non-null   float64
 3   Cena_jedn               2105 non-null   float64
 4   Wartosc_calkowita       2103 non-null   float64
 5   Droga                   2105 non-null   object
 6   Rok                     2105 non-null   datetime64[ns]
 7   Kategoria_robot         2105 non-null   object
dtypes: datetime64[ns](1), float64(3), object(4)
memory usage: 148.0+ KB

In [25]:
road_data['Kategoria_drogi'] = road_data['Droga'].str[0:2].apply(lambda x:
                                                                 ('Powiatowa' if x=='DP'
                                                                  else 'Krajowa' if x=='DK'
                                                                  else 'Wojewodzka'))

In [26]:
road_data

,Elementy_rozliczeniowe,Jednostka,Ilosc,Cena_jedn,Wartosc_calkowita,Droga,Rok,Kategoria_robot,Kategoria_drogi
3,Koszt dostosowania się do wymagań ogólnych zaw...,ryczałt,1.00,280864.20,280764.20,DK12ZW,2019-01-01,WARUNKI OGOLNE,Krajowa
4,Dokumentacja realizacyjno-technologiczna i dok...,ryczałt,1.00,33703.70,33603.70,DK12ZW,2019-01-01,WARUNKI OGOLNE,Krajowa
5,"Koszt utrzymania dróg, po których odbywać się ...",ryczałt,1.00,224691.36,224591.36,DK12ZW,2019-01-01,WARUNKI OGOLNE,Krajowa
6,Saperskie sprawdzenie terenu pod kątem niewypa...,ryczałt,1.00,33703.70,33603.70,DK12ZW,2019-01-01,WARUNKI OGOLNE,Krajowa
7,Nadzór archeologiczny wraz z wykonaniem ratown...,ryczałt,1.00,28086.42,27986.42,DK12ZW,2019-01-01,WARUNKI OGOLNE,Krajowa
...,...,...,...,...,...,...,...,...,...
6,Mieszanka roślin rabatowych,m2,100.00,50.00,5000.00,DW919SK,2015-01-01,ZIELEN DROGOWA,Wojewodzka
10,"Ścianki oporowe typu ""L"" - gr 25 cm, wysokość ...",m,51.00,1024.40,52244.40,DW919SK,2015-01-01,INNE ROBOTY,Wojewodzka
11,"Ścianki oporowe typu ""L"" - gr. 10 cm, wysokość...",m,8.00,274.30,2194.40,DW919SK,2015-01-01,INNE ROBOTY,Wojewodzka
13,Wykonanie schodów i zejść do posesji z element...,m2,25.16,246.34,6198.04,DW919SK,2015-01-01,INNE ROBOTY,Wojewodzka
15,Pomiar powykonawczy zrealizowanych obiektów dr...,km,12.98,29829.22,387064.26,DW919SK,2015-01-01,INNE ROBOTY,Wojewodzka

In [27]:
road_data['Kategoria_drogi'].value_counts()

Wojewodzka    1307
Krajowa        696
Powiatowa      102
Name: Kategoria_drogi, dtype: int64

**Note**

We still dont know the lenght of analized roads, so their cost not reliable. Let's bring all the costs down to the cost of the 1 km of the road

We know that the cells that contains sentence "Odtworzenie trasy i punktów wysokościowych..." in column "Elementy_rozliczenione" contains information about the lenght of the analized roads. We can use it to bring all the costs down to the cost of the 1 km.

In [28]:
road_elem_df = road_data[road_data['Elementy_rozliczeniowe'].str.contains("Odtworzenie trasy i punktów wysokościowych")]['Droga']

In [29]:
road_quant_df = road_data[road_data['Elementy_rozliczeniowe'].str.contains("Odtworzenie trasy i punktów wysokościowych")]['Ilosc']

In [30]:
road_length_dict = dict(zip(road_elem_df,road_quant_df))

In [31]:
road_length_dict

{'DK12ZW': 24.24,
 'DK33WR': 6.26,
 'DK35WY': 6.34,
 'DK77': 10.0,
 'DK99': 12.88,
 'DP55818': 9.9,
 'DW258': 3.9,
 'DW323R': 12.27,
 'DW534C': 12.82,
 'DW555': 19.47,
 'DW606SLK': 0.8,
 'DW614SK': 16.64,
 'DW659': 7.08,
 'DW741': 10.39,
 'DW763B': 12.46,
 'DW777SX': 18.05,
 'DW789': 2.0,
 'DW878RT': 10.78,
 'DW919SK': 12.98}

In [32]:
road_data['Dlugosc_drogi'] = road_data['Droga'].map(road_length_dict)

In [33]:
road_data

,Elementy_rozliczeniowe,Jednostka,Ilosc,Cena_jedn,Wartosc_calkowita,Droga,Rok,Kategoria_robot,Kategoria_drogi,Dlugosc_drogi
3,Koszt dostosowania się do wymagań ogólnych zaw...,ryczałt,1.00,280864.20,280764.20,DK12ZW,2019-01-01,WARUNKI OGOLNE,Krajowa,24.24
4,Dokumentacja realizacyjno-technologiczna i dok...,ryczałt,1.00,33703.70,33603.70,DK12ZW,2019-01-01,WARUNKI OGOLNE,Krajowa,24.24
5,"Koszt utrzymania dróg, po których odbywać się ...",ryczałt,1.00,224691.36,224591.36,DK12ZW,2019-01-01,WARUNKI OGOLNE,Krajowa,24.24
6,Saperskie sprawdzenie terenu pod kątem niewypa...,ryczałt,1.00,33703.70,33603.70,DK12ZW,2019-01-01,WARUNKI OGOLNE,Krajowa,24.24
7,Nadzór archeologiczny wraz z wykonaniem ratown...,ryczałt,1.00,28086.42,27986.42,DK12ZW,2019-01-01,WARUNKI OGOLNE,Krajowa,24.24
...,...,...,...,...,...,...,...,...,...,...
6,Mieszanka roślin rabatowych,m2,100.00,50.00,5000.00,DW919SK,2015-01-01,ZIELEN DROGOWA,Wojewodzka,12.98
10,"Ścianki oporowe typu ""L"" - gr 25 cm, wysokość ...",m,51.00,1024.40,52244.40,DW919SK,2015-01-01,INNE ROBOTY,Wojewodzka,12.98
11,"Ścianki oporowe typu ""L"" - gr. 10 cm, wysokość...",m,8.00,274.30,2194.40,DW919SK,2015-01-01,INNE ROBOTY,Wojewodzka,12.98
13,Wykonanie schodów i zejść do posesji z element...,m2,25.16,246.34,6198.04,DW919SK,2015-01-01,INNE ROBOTY,Wojewodzka,12.98
15,Pomiar powykonawczy zrealizowanych obiektów dr...,km,12.98,29829.22,387064.26,DW919SK,2015-01-01,INNE ROBOTY,Wojewodzka,12.98

**Note**

It can be seen that the product of the "Ilosc" and "Cena_jedn" columns does not equal to the values in the column "Wartosc_calkowita", let's fix that.

In [34]:
road_data['Wartosc_calkowita'] = road_data['Ilosc'] * road_data['Cena_jedn']

In [35]:
road_data

,Elementy_rozliczeniowe,Jednostka,Ilosc,Cena_jedn,Wartosc_calkowita,Droga,Rok,Kategoria_robot,Kategoria_drogi,Dlugosc_drogi
3,Koszt dostosowania się do wymagań ogólnych zaw...,ryczałt,1.00,280864.20,280864.2000,DK12ZW,2019-01-01,WARUNKI OGOLNE,Krajowa,24.24
4,Dokumentacja realizacyjno-technologiczna i dok...,ryczałt,1.00,33703.70,33703.7000,DK12ZW,2019-01-01,WARUNKI OGOLNE,Krajowa,24.24
5,"Koszt utrzymania dróg, po których odbywać się ...",ryczałt,1.00,224691.36,224691.3600,DK12ZW,2019-01-01,WARUNKI OGOLNE,Krajowa,24.24
6,Saperskie sprawdzenie terenu pod kątem niewypa...,ryczałt,1.00,33703.70,33703.7000,DK12ZW,2019-01-01,WARUNKI OGOLNE,Krajowa,24.24
7,Nadzór archeologiczny wraz z wykonaniem ratown...,ryczałt,1.00,28086.42,28086.4200,DK12ZW,2019-01-01,WARUNKI OGOLNE,Krajowa,24.24
...,...,...,...,...,...,...,...,...,...,...
6,Mieszanka roślin rabatowych,m2,100.00,50.00,5000.0000,DW919SK,2015-01-01,ZIELEN DROGOWA,Wojewodzka,12.98
10,"Ścianki oporowe typu ""L"" - gr 25 cm, wysokość ...",m,51.00,1024.40,52244.4000,DW919SK,2015-01-01,INNE ROBOTY,Wojewodzka,12.98
11,"Ścianki oporowe typu ""L"" - gr. 10 cm, wysokość...",m,8.00,274.30,2194.4000,DW919SK,2015-01-01,INNE ROBOTY,Wojewodzka,12.98
13,Wykonanie schodów i zejść do posesji z element...,m2,25.16,246.34,6197.9144,DW919SK,2015-01-01,INNE ROBOTY,Wojewodzka,12.98
15,Pomiar powykonawczy zrealizowanych obiektów dr...,km,12.98,29829.22,387183.2756,DW919SK,2015-01-01,INNE ROBOTY,Wojewodzka,12.98

**Note**

Now our dataframe is cleaned we use it to create new columns averaging the quantity and cost values depending on road category

In [36]:
road_data['Cena_jedn_per_km'] = road_data['Cena_jedn'] / road_data['Dlugosc_drogi']

In [37]:
road_data['Ilosc_per_km'] = road_data['Ilosc'] / road_data['Dlugosc_drogi']

In [38]:
road_data['Wartosc_calkowita_per_km'] = road_data['Wartosc_calkowita'] / road_data['Dlugosc_drogi']

In [39]:
cat_elem_df = road_data[road_data['Elementy_rozliczeniowe'].str.contains("Odtworzenie trasy i punktów wysokościowych")]['Kategoria_drogi']

In [40]:
cat_quant_df = road_data[road_data['Elementy_rozliczeniowe'].str.contains("Odtworzenie trasy i punktów wysokościowych")]['Ilosc']

In [41]:
cat_quant_df = pd.concat([cat_elem_df, cat_quant_df], axis=1)

In [42]:
cat_quant_df

   Kategoria_drogi  Ilosc
14         Krajowa  24.24
14         Krajowa   6.26
14         Krajowa   6.34
14         Krajowa  10.00
10         Krajowa  12.88
13       Powiatowa   9.90
10      Wojewodzka   3.90
10      Wojewodzka  12.27
15      Wojewodzka  12.82
10      Wojewodzka  19.47
13      Wojewodzka   0.80
10      Wojewodzka  16.64
10      Wojewodzka   7.08
10      Wojewodzka  10.39
15      Wojewodzka  12.46
10      Wojewodzka  18.05
10      Wojewodzka   2.00
10      Wojewodzka  10.78
10      Wojewodzka  12.98

In [43]:
cat_quant_gruper_df = cat_quant_df.groupby(['Kategoria_drogi'], as_index=False).agg({'Ilosc': 'sum'}).sort_values(by=['Ilosc'],ascending=False)

In [44]:
road_cat_dict = dict(cat_quant_gruper_df.values)

In [45]:
road_data['Calk_dl_kat_drogi'] = road_data['Kategoria_drogi'].map(road_cat_dict)

In [46]:
road_data['wsp_kat_drogi'] = road_data['Dlugosc_drogi'] / road_data['Calk_dl_kat_drogi']

In [47]:
road_data.drop('Calk_dl_kat_drogi', inplace=True, axis=1)

In [48]:
road_all_length = sum(road_cat_dict.values())

**New columns with quantities and costs multplied by road category factor**

In [49]:
road_data['Cena_jedn_kat'] = road_data['Cena_jedn'] * road_data['wsp_kat_drogi']

In [50]:
road_data['Ilosc_kat'] = road_data['Ilosc'] * road_data['wsp_kat_drogi']

In [51]:
road_data['Wartosc_calkowita_kat'] = road_data['Wartosc_calkowita'] * road_data['wsp_kat_drogi']

In [52]:
road_data['Cena_jedn_per_km_kat'] = road_data['Cena_jedn_per_km'] * road_data['wsp_kat_drogi']

In [53]:
road_data['Ilosc_per_km_kat'] = road_data['Ilosc_per_km'] * road_data['wsp_kat_drogi']

In [54]:
road_data['Wartosc_calkowita_per_km_kat'] = road_data['Wartosc_calkowita_per_km'] * road_data['wsp_kat_drogi']

**New columns with quantities and costs multplied by all roads factor**

In [55]:
road_data['Dlugosc_wszystkich_drog'] = road_all_length

In [56]:
road_data['wsp_calk_drogi'] = road_data['Dlugosc_drogi'] / road_data['Dlugosc_wszystkich_drog']

In [57]:
road_data['Cena_jedn_calosc'] = road_data['Cena_jedn'] * road_data['wsp_calk_drogi']

In [58]:
road_data['Ilosc_calosc'] = road_data['Ilosc'] * road_data['wsp_calk_drogi']

In [59]:
road_data['Wartosc_calkowita_calosc'] = road_data['Wartosc_calkowita'] * road_data['wsp_calk_drogi']

In [60]:
road_data['Cena_jedn_per_km_calosc'] = road_data['Cena_jedn_per_km'] * road_data['wsp_calk_drogi']

In [61]:
road_data['Ilosc_per_km_calosc'] = road_data['Ilosc_per_km'] * road_data['wsp_calk_drogi']

In [62]:
road_data['Wartosc_calkowita_per_km_calosc'] = road_data['Wartosc_calkowita_per_km'] * road_data['wsp_calk_drogi']

**Note**

Cleaning data frame from temporary columns with factors and work lengths

In [63]:
road_data.drop(['wsp_calk_drogi','wsp_kat_drogi','Dlugosc_wszystkich_drog'], inplace=True, axis=1)

In [64]:
road_data

,Elementy_rozliczeniowe,Jednostka,Ilosc,Cena_jedn,Wartosc_calkowita,Droga,Rok,Kategoria_robot,Kategoria_drogi,Dlugosc_drogi,...,Wartosc_calkowita_kat,Cena_jedn_per_km_kat,Ilosc_per_km_kat,Wartosc_calkowita_per_km_kat,Cena_jedn_calosc,Ilosc_calosc,Wartosc_calkowita_calosc,Cena_jedn_per_km_calosc,Ilosc_per_km_calosc,Wartosc_calkowita_per_km_calosc
3,Koszt dostosowania się do wymagań ogólnych zaw...,ryczałt,1.00,280864.20,280864.2000,DK12ZW,2019-01-01,WARUNKI OGOLNE,Krajowa,24.24,...,114001.142130,4703.017415,0.016745,4703.017415,32534.398394,0.115837,32534.398394,1342.178152,0.004779,1342.178152
4,Dokumentacja realizacyjno-technologiczna i dok...,ryczałt,1.00,33703.70,33703.7000,DK12ZW,2019-01-01,WARUNKI OGOLNE,Krajowa,24.24,...,13680.135432,564.362023,0.016745,564.362023,3904.127344,0.115837,3904.127344,161.061359,0.004779,161.061359
5,"Koszt utrzymania dróg, po których odbywać się ...",ryczałt,1.00,224691.36,224691.3600,DK12ZW,2019-01-01,WARUNKI OGOLNE,Krajowa,24.24,...,91200.913704,3762.413932,0.016745,3762.413932,26027.518715,0.115837,26027.518715,1073.742521,0.004779,1073.742521
6,Saperskie sprawdzenie terenu pod kątem niewypa...,ryczałt,1.00,33703.70,33703.7000,DK12ZW,2019-01-01,WARUNKI OGOLNE,Krajowa,24.24,...,13680.135432,564.362023,0.016745,564.362023,3904.127344,0.115837,3904.127344,161.061359,0.004779,161.061359
7,Nadzór archeologiczny wraz z wykonaniem ratown...,ryczałt,1.00,28086.42,28086.4200,DK12ZW,2019-01-01,WARUNKI OGOLNE,Krajowa,24.24,...,11400.114213,470.301741,0.016745,470.301741,3253.439839,0.115837,3253.439839,134.217815,0.004779,134.217815
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6,Mieszanka roślin rabatowych,m2,100.00,50.00,5000.0000,DW919SK,2015-01-01,ZIELEN DROGOWA,Wojewodzka,12.98,...,464.766543,0.358064,0.716127,35.806359,3.101405,6.202810,310.140495,0.238937,0.477874,23.893721
10,"Ścianki oporowe typu ""L"" - gr 25 cm, wysokość ...",m,51.00,1024.40,52244.4000,DW919SK,2015-01-01,INNE ROBOTY,Wojewodzka,12.98,...,4856.289831,7.336007,0.365225,374.136351,63.541585,3.163433,3240.620816,4.895346,0.243716,249.662621
11,"Ścianki oporowe typu ""L"" - gr. 10 cm, wysokość...",m,8.00,274.30,2194.4000,DW919SK,2015-01-01,INNE ROBOTY,Wojewodzka,12.98,...,203.976740,1.964337,0.057290,15.714695,17.014308,0.496225,136.114460,1.310810,0.038230,10.486476
13,Wykonanie schodów i zejść do posesji z element...,m2,25.16,246.34,6197.9144,DW919SK,2015-01-01,INNE ROBOTY,Wojewodzka,12.98,...,576.116649,1.764108,0.180178,44.384950,15.280002,1.560627,384.444848,1.177196,0.120233,29.618247
15,Pomiar powykonawczy zrealizowanych obiektów dr...,km,12.98,29829.22,387183.2756,DW919SK,2015-01-01,INNE ROBOTY,Wojewodzka,12.98,...,35989.966466,213.615153,0.092953,2772.724689,1850.249812,0.805125,24016.242556,142.546210,0.062028,1850.249812

**Note**

Okey we finished our data preparation let's save it to excel file for further data analysis in second part of the project.

In [65]:
road_data.to_excel('..\Projekt_Analiza_Danych\DATA\Road_cost_analysis.xlsx',
                                             sheet_name='Road_cost_analysis',
                                             index=False)