# ROAD COST ANALYSIS 

## PART I - DATA PREPARATION

### Introduction

In this data analysis project we will look at the cost of road construction in Poland. It is said that road construction in Poland is much more expensive than in neighboring countries and the quality of the new routes does not meet the requirements of users.

We will check the list of elements of newly build or rebuilt roads and what road elements contribute the most to the high cost of roads in Poland and what does it look like from the inside.

The analysis will be carried out on the basis of real data for which the names of the roads covered by the analysis have been changed.

The input material are pdf files obtained from a reputable polish construction company, the explanation of which is presented below.

The data contains the following columns:

* 'Lp.': Ordinal number
* 'CPV': Central Product Classification code
* 'Numer Specyfikacji Technicznej': Technical Specification code
* 'Elementy rozliczeniowe': Billing elements
* 'Jednostka': Measure unit
* 'Ilosc': quantity
* 'Cena jedn': Unit price
* 'Wartosc calkowita': Total value
* 'Droga': Road number
* 'Rok': Year of construction
* 'Kategoria': Category of construction works

**Import Libraries**

In [1]:
import pandas as pd

from functions.pdf_tools import pdf_reader, pdf_cleaner, match_category, road_category

**Read pdf files**

In [2]:
road_data = pdf_reader('..\Projekt_Analiza_Danych\DATA\*.pdf')

**Initial data clean**

In [3]:
road_data = pdf_cleaner(road_data)

**Checking the basic informations of the DataFrame.**

In [4]:
road_data.head()

,Elementy_rozliczeniowe,Jednostka,Ilosc,Cena_jedn,Wartosc_calkowita,Droga,Rok,Kategoria
3,Koszt dostosowania się do wymagań ogólnych zaw...,ryczałt,1.00,280864.20,280764.20,DK12ZW,2019,WARUNKI OGÓLNE
4,Dokumentacja realizacyjno-technologiczna i dok...,ryczałt,1.00,33703.70,33603.70,DK12ZW,2019,WARUNKI OGÓLNE
5,"Koszt utrzymania dróg, po których odbywać się ...",ryczałt,1.00,224691.36,224591.36,DK12ZW,2019,WARUNKI OGÓLNE
6,Saperskie sprawdzenie terenu pod kątem niewypa...,ryczałt,1.00,33703.70,33603.70,DK12ZW,2019,WARUNKI OGÓLNE
7,Nadzór archeologiczny wraz z wykonaniem ratown...,ryczałt,1.00,28086.42,27986.42,DK12ZW,2019,WARUNKI OGÓLNE

In [5]:
road_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 154 entries, 3 to 77
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Elementy_rozliczeniowe  154 non-null    object
 1   Jednostka               154 non-null    object
 2   Ilosc                   154 non-null    object
 3   Cena_jedn               154 non-null    object
 4   Wartosc_calkowita       154 non-null    object
 5   Droga                   154 non-null    object
 6   Rok                     154 non-null    object
 7   Kategoria               154 non-null    object
dtypes: object(8)
memory usage: 10.8+ KB

In [6]:
road_data.describe()

,Elementy_rozliczeniowe,Jednostka,Ilosc,Cena_jedn,Wartosc_calkowita,Droga,Rok,Kategoria
count,154,154,154,154,154,154,154,154
unique,154,8,128,132,150,1,1,11
top,Koszt dostosowania się do wymagań ogólnych zaw...,szt.,1.00,442.80,33603.70,DK12ZW,2019,ROBOTY PRZYGOTOWAWCZE
freq,1,53,14,4,3,154,154,40

In [7]:
set(road_data['Cena_jedn'].map(type))

{str}

In [8]:
set(road_data['Ilosc'].map(type))

{str}

In [9]:
set(road_data['Wartosc_calkowita'].map(type))

{str}

In [10]:
set(road_data['Rok'].map(type))

{str}

In [11]:
road_data['Kategoria'].value_counts()

ROBOTY PRZYGOTOWAWCZE                                 40
OZNAKOWANIA DRÓG I URZĄDZENIA BEZPIECZEŃSTWA RUCHU    27
ZIELEŃ DROGOWA                                        23
NAWIERZCHNIE                                          19
PODBUDOWY                                             14
ROBOTY WYKOŃCZENIOWE                                   9
WARUNKI OGÓLNE                                         8
ELEMENTY ULIC                                          7
ROBOTY ZIEMNE                                          3
ODWODNIENIE KORPUSU DROGOWEGO                          2
INNE ROBOTY                                            2
Name: Kategoria, dtype: int64

**Note**

As you can see above,the "Ilosc, Cena_jedn, Wartosc_calkowita and Rok" columns contains wrong data type, we will convert them to float and DateTime data type. What is more the "Kategoria" column contain incomplete category names. In the next few steps we will fix these errors.

**Cleaning the "Kategoria" column**

In [12]:
road_data['Kategoria_robot'] = road_data['Kategoria'].apply(match_category)

In [13]:
road_data.drop('Kategoria', inplace=True, axis=1)

In [14]:
road_data

,Elementy_rozliczeniowe,Jednostka,Ilosc,Cena_jedn,Wartosc_calkowita,Droga,Rok,Kategoria_robot
3,Koszt dostosowania się do wymagań ogólnych zaw...,ryczałt,1.00,280864.20,280764.20,DK12ZW,2019,WARUNKI OGOLNE
4,Dokumentacja realizacyjno-technologiczna i dok...,ryczałt,1.00,33703.70,33603.70,DK12ZW,2019,WARUNKI OGOLNE
5,"Koszt utrzymania dróg, po których odbywać się ...",ryczałt,1.00,224691.36,224591.36,DK12ZW,2019,WARUNKI OGOLNE
6,Saperskie sprawdzenie terenu pod kątem niewypa...,ryczałt,1.00,33703.70,33603.70,DK12ZW,2019,WARUNKI OGOLNE
7,Nadzór archeologiczny wraz z wykonaniem ratown...,ryczałt,1.00,28086.42,27986.42,DK12ZW,2019,WARUNKI OGOLNE
...,...,...,...,...,...,...,...,...
70,pielęgnacja drzew w formie piennej w okresie g...,szt.,1835.00,59.37,108842.25,DK12ZW,2019,ZIELEN DROGOWA
71,pielęgnacja drzew w formie naturalnej w okresi...,szt.,65.00,59.37,3758.99,DK12ZW,2019,ZIELEN DROGOWA
72,pielęgnacja krzewów w okresie gwarancji,szt.,1533.00,5.51,8340.79,DK12ZW,2019,ZIELEN DROGOWA
76,Wykonanie schodów i zejść z elementów betonowy...,m2,51.70,500.89,25796.18,DK12ZW,2019,INNE ROBOTY
77,Wykonanie balustrady przy schodach terenowych,m,58.96,251.00,14699.12,DK12ZW,2019,INNE ROBOTY

In [15]:
road_data['Ilosc'] = pd.to_numeric(road_data['Ilosc'],errors='coerce')

**Cleaning the "Ilosc", "Cena_jedn" and "Wartosc_calkowita" columns**

In [16]:
road_data['Ilosc'] = pd.to_numeric(road_data['Ilosc'],errors='coerce')

In [17]:
road_data['Cena_jedn'] = pd.to_numeric(road_data['Cena_jedn'],errors='coerce')

In [18]:
road_data['Wartosc_calkowita'] = pd.to_numeric(road_data['Wartosc_calkowita'],errors='coerce')

**Cleaning the "Rok" column**

In [19]:
road_data['Rok'] = pd.to_numeric(road_data['Rok'],errors='coerce')

In [20]:
road_data['Rok'] = pd.to_datetime(road_data['Rok'],format='%Y')

In [21]:
road_data

,Elementy_rozliczeniowe,Jednostka,Ilosc,Cena_jedn,Wartosc_calkowita,Droga,Rok,Kategoria_robot
3,Koszt dostosowania się do wymagań ogólnych zaw...,ryczałt,1.00,280864.20,280764.20,DK12ZW,2019-01-01,WARUNKI OGOLNE
4,Dokumentacja realizacyjno-technologiczna i dok...,ryczałt,1.00,33703.70,33603.70,DK12ZW,2019-01-01,WARUNKI OGOLNE
5,"Koszt utrzymania dróg, po których odbywać się ...",ryczałt,1.00,224691.36,224591.36,DK12ZW,2019-01-01,WARUNKI OGOLNE
6,Saperskie sprawdzenie terenu pod kątem niewypa...,ryczałt,1.00,33703.70,33603.70,DK12ZW,2019-01-01,WARUNKI OGOLNE
7,Nadzór archeologiczny wraz z wykonaniem ratown...,ryczałt,1.00,28086.42,27986.42,DK12ZW,2019-01-01,WARUNKI OGOLNE
...,...,...,...,...,...,...,...,...
70,pielęgnacja drzew w formie piennej w okresie g...,szt.,1835.00,59.37,108842.25,DK12ZW,2019-01-01,ZIELEN DROGOWA
71,pielęgnacja drzew w formie naturalnej w okresi...,szt.,65.00,59.37,3758.99,DK12ZW,2019-01-01,ZIELEN DROGOWA
72,pielęgnacja krzewów w okresie gwarancji,szt.,1533.00,5.51,8340.79,DK12ZW,2019-01-01,ZIELEN DROGOWA
76,Wykonanie schodów i zejść z elementów betonowy...,m2,51.70,500.89,25796.18,DK12ZW,2019-01-01,INNE ROBOTY
77,Wykonanie balustrady przy schodach terenowych,m,58.96,251.00,14699.12,DK12ZW,2019-01-01,INNE ROBOTY

In [22]:
road_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 154 entries, 3 to 77
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Elementy_rozliczeniowe  154 non-null    object
 1   Jednostka               154 non-null    object
 2   Ilosc                   154 non-null    float64
 3   Cena_jedn               154 non-null    float64
 4   Wartosc_calkowita       154 non-null    float64
 5   Droga                   154 non-null    object
 6   Rok                     154 non-null    datetime64[ns]
 7   Kategoria_robot         154 non-null    object
dtypes: datetime64[ns](1), float64(3), object(4)
memory usage: 10.8+ KB

In [23]:
road_data['Kategoria_drogi'] = road_data['Droga'].str[0:2].apply(road_category)

In [24]:
road_data

,Elementy_rozliczeniowe,Jednostka,Ilosc,Cena_jedn,Wartosc_calkowita,Droga,Rok,Kategoria_robot,Kategoria_drogi
3,Koszt dostosowania się do wymagań ogólnych zaw...,ryczałt,1.00,280864.20,280764.20,DK12ZW,2019-01-01,WARUNKI OGOLNE,Krajowa
4,Dokumentacja realizacyjno-technologiczna i dok...,ryczałt,1.00,33703.70,33603.70,DK12ZW,2019-01-01,WARUNKI OGOLNE,Krajowa
5,"Koszt utrzymania dróg, po których odbywać się ...",ryczałt,1.00,224691.36,224591.36,DK12ZW,2019-01-01,WARUNKI OGOLNE,Krajowa
6,Saperskie sprawdzenie terenu pod kątem niewypa...,ryczałt,1.00,33703.70,33603.70,DK12ZW,2019-01-01,WARUNKI OGOLNE,Krajowa
7,Nadzór archeologiczny wraz z wykonaniem ratown...,ryczałt,1.00,28086.42,27986.42,DK12ZW,2019-01-01,WARUNKI OGOLNE,Krajowa
...,...,...,...,...,...,...,...,...,...
70,pielęgnacja drzew w formie piennej w okresie g...,szt.,1835.00,59.37,108842.25,DK12ZW,2019-01-01,ZIELEN DROGOWA,Krajowa
71,pielęgnacja drzew w formie naturalnej w okresi...,szt.,65.00,59.37,3758.99,DK12ZW,2019-01-01,ZIELEN DROGOWA,Krajowa
72,pielęgnacja krzewów w okresie gwarancji,szt.,1533.00,5.51,8340.79,DK12ZW,2019-01-01,ZIELEN DROGOWA,Krajowa
76,Wykonanie schodów i zejść z elementów betonowy...,m2,51.70,500.89,25796.18,DK12ZW,2019-01-01,INNE ROBOTY,Krajowa
77,Wykonanie balustrady przy schodach terenowych,m,58.96,251.00,14699.12,DK12ZW,2019-01-01,INNE ROBOTY,Krajowa

In [25]:
road_data['Kategoria_drogi'].value_counts()

Krajowa    154
Name: Kategoria_drogi, dtype: int64

**Note**